<%= form_with(model: Poet.new, local: true) do |f| %>
<!-- <div class="file-field input-field">
  <div class="btn"> -->
    <span>Image URL</span>
    <%= f.file_field :image, type: :file %>
  <!-- </div>
</div> -->
  <!-- <div class="file-path-wrapper"> -->
    <%#= f.text_field :image, placeholder: "Image URL", class: "file-path validate" %>
    <%#= f.file_field :image %>
    <%#= submit_tag '送信' %>
    <%#= f.hidden_field :image_cache %>
    <%= f.submit "SEND" %>
  <!-- </div> -->
<% end %>
