<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @poets.each do |poet| %>
  <%= render partial: "poets/poet", locals: { poet: poet } %>
  <% end %>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><%= paginate(@poets) %></h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text"></h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
</div>